/* Задаємо властивості боді */
body {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  letter-spacing: 0.02em;
  color: var(--body-text-color);
  background-color: var(--white-background-color);
}

/* Скидаємо відступи заголовків */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Нормалізуємо властивості для картинок */
img {
  display: block;    /* Прибираємо нижній відступ */
  max-width: 100%;   /* Щоб великі картинки не вилазили за межі екрана */
  height: auto;      /* Зберігаємо пропорції */
}

/* Прибираємо підкреслення та наслідуємо колір у всіх посилань */
.link {
    text-decoration: none;
    color: inherit;
}

/* Прибираємо маркери та відступи у списків */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Нормалізуємо кнопки */
.button {
  cursor: pointer;          /* Змінюємо курсор при наведенні */
  border: none;             /* Прибираємо рамку */
  background-color: transparent; /* Робимо фон прозорим */
  padding: 0;               /* Прибираємо внутрішні відступи */
}

/* Прибираємо дефолтний курсив у address */
.address {
  font-style: normal;
}