/* h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.small {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--dark-color);
}

.medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.link {
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
} */ 


.header {
    background-color: var(--accent-color);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header .logo {
    color: var(--dark-color);
}

.logo .highlight {
    color: var(--primary-brand-color);
}

.nav-list-item .link {
    font-weight: 500;
    color: --dark-color;
}

.nav-list-item .link:hover,
.nav-list-item .link:active {
    color: var(--pressed-state-color);
}

.address-link:hover,
.address-link:active {
    color: var(--pressed-state-color);
}

.hero {
    background-color: var(--dark-color);
}
.hero-title {
    font-weight: var(--font-weight-bold);
    font-size: 56px;
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-basic);
    color: var(--white-background-color);
}

.button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: --font-weight-medium;
    letter-spacing: var(--letter-spacing-second);
    color: var(--white-background-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--primary-brand-color);
}

.button:hover,
.button:active {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--pressed-state-color);
}

.footer {
    background-color: var(--dark-color);
}

.footer .logo {
    color: var(--light-mode-color);
}

.footer-text {
    color: var(--light-mode-color);
}