/* Header */

.header {
    background-color: var(--accent-color);
}

.logo {
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: var(--line-height-small);
    letter-spacing: var(--letter-spacing-logo);
    text-transform: uppercase;
}

.header .logo {
    color: var(--dark-color);
}

.logo .highlight {
    color: var(--primary-brand-color);
}

.nav-list-item .link {
    font-weight: var(--font-weight-medium);
    color: var(--dark-color);
}

.nav-list-item .link:hover,
.nav-list-item .link:active {
    color: var(--pressed-state-color);
}

.address-link:hover,
.address-link:active {
    color: var(--pressed-state-color);
}

/* Hero */

.hero {
    background-color: var(--dark-color);
}
.hero-title {
    font-weight: var(--font-weight-bold);
    font-size: 56px;
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-basic);
    color: var(--white-background-color);
}

.button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing-second);
    color: var(--white-background-color);
    box-shadow: var(--button-shadow);
    background-color: var(--primary-brand-color);
}

.button:hover,
.button:active {
    box-shadow: var(--button-shadow);
    background: var(--pressed-state-color);
}

/* About Us */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Sections */

.team {
    background-color: var(--light-mode-color);
}

.team .list-item {
    border-radius: 0 0 4px 4px;
    box-shadow: var(--card-shadow);
}

.team .container{
    background-color: var(--white-background-color);
}

.portfolio .container {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.portfolio .list-item:hover {
    box-shadow: var(--card-shadow);
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-basic);
    color: var(--dark-color);
}

.subtitle {
    font-weight: var(--font-weight-medium);
    font-size: 20px;
    line-height: var(--line-height-subtitle);
    letter-spacing: var(--letter-spacing-basic);
    color: var(--dark-color);
}

/* Footer */

.footer {
    background-color: var(--dark-color);
}

.footer .logo {
    color: var(--light-mode-color);
}

.footer-text {
    color: var(--light-mode-color);
}