:root {
    --primary-brand-color: #4D5AE5;   /* IRIS */
    --pressed-state-color: #404BBF;   /* OCEAN */
    --dark-color: #2E2F42;    /* NAVY BLUE */
    --success-color: #31D0AA;   /* GREEN */
    --body-text-color: #434455;   /* SLATE */
    --helper-text-color: #8E8F99;   /* LIGHT SLATE */
    --accent-color: #E7E9FC;    /* CORNFLOWER */
    --light-mode-color: #F4F4FD;    /* CLOUD */
    --modal-overlay-color: #2E2F42;   /* NAVY BLUE MODAL */
    --hero-background-color: #2E2F42;   /* GREY */
    --white-background-color: #FFFFFF;    /* WHITE */
    --modal-background-color: #FCFCFC;    /* DAIRY */

    --font-family-body: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 700; 
    --font-weight-bold: 900;

    --line-height-title: 1.07;
    --line-height-body: 1.5;
    --line-height-small: 1.16;
}

/* all repeated values -> стандартні розміри шрифту, радіус заокруглення рамок, загальні відступи та поля, ширини контейнера, точки перелому для адаптивної верстки тощо */